html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

#app {
  margin: 3rem;
  padding: 1rem;
  text-align: left;
}

header {
  margin: 3rem;
  padding: 0rem;
  text-align: center;
}

label, input {
  margin-bottom: 0.5rem;
}

label {
  font-weight: normal;
  padding: 10px;
  margin-right: 20px;
}

input[type=text] {
  width: 10%;
  padding: 2px 2px;
  box-sizing: border-box;
}