#  Author: Tomasz Filipiec <tomasz.filipiec@gmail.com>
#   Desc.: Simple kickstart file for automated installation
#      OS: CentOS 7 Minimal (core)
# Version: 1.0

# Based on https://github.com/CentOS/Community-Kickstarts/blob/master/centos7-minimal.cfg

# Turning on text-mode installation (little quicker than GUI)
text

# Setting up authentication and keyboard
auth --enableshadow --passalgo=sha512
keyboard --vckeymap=us --xlayouts='us'

# Installation files source
cdrom

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Partition clearing information
clearpart --none --initlabel

# Disk partitioning information
part /boot --fstype="xfs" --ondisk=vda --size=1024
part pv.157 --fstype="lvmpv" --ondisk=vda --size=39935
volgroup centos --pesize=4096 pv.157
logvol swap  --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /  --fstype="xfs" --grow --maxsize=51200 --size=1024 --name=root --vgname=centos

# Setting up language to English
lang en-US.UTF-8

# Setting up network interface to DHCP
network --bootproto=dhcp --ipv6=auto --hostname=myvm --activate --device eth0

# Root password (remember that plaintext only for information purposes)
rootpw --plaintext secret

# Setting up firewall and enabling SSH for remote management
firewall --enabled --service=ssh

# Setting timezone
timezone America/Los_Angeles --isUtc --ntpservers=us.pool.ntp.org

# Setting up Security-Enhanced Linux into enforcing
selinux --enforcing

# System bootloader configuration
#bootloader --location=mbr --boot-drive=vda
#autopart --type=lvm

# Partition clearing information
#clearpart --none --initlabel


# Eject cdrom and reboot
#reboot --eject

# Agree to EULA
eula --agreed

# Run the Setup Agent on first boot
firstboot --disabled

# Shutdown
poweroff

# Installing only packages for minimal install 
%packages
@Core
chrony
%end

%post
# Shutdown VM at the end
sed -i 's/ONBOOT="yes"/ONBOOT="no"/' /etc/sysconfig/network-scripts/ifcfg-eth0 
/sbin/shutdown -h now
%end